# Project exclude paths
/dubbo-build-tools/target/
/dubbo-cluster/target/
/dubbo-common/target/
/dubbo-compatible/target/
/dubbo-config/dubbo-config-api/target/
/dubbo-config/dubbo-config-spring/target/
/dubbo-config/target/
/dubbo-configcenter/dubbo-configcenter-apollo/target/
/dubbo-configcenter/dubbo-configcenter-nacos/target/
/dubbo-configcenter/dubbo-configcenter-zookeeper/target/
/dubbo-configcenter/target/
/dubbo-container/dubbo-container-api/target/
/dubbo-container/dubbo-container-spring/target/
/dubbo-container/target/
/dubbo-demo/dubbo-demo-annotation/dubbo-demo-annotation-consumer/target/
/dubbo-demo/dubbo-demo-annotation/dubbo-demo-annotation-provider/target/
/dubbo-demo/dubbo-demo-annotation/target/
/dubbo-demo/dubbo-demo-api/dubbo-demo-api-consumer/target/
/dubbo-demo/dubbo-demo-api/dubbo-demo-api-provider/target/
/dubbo-demo/dubbo-demo-api/target/
/dubbo-demo/dubbo-demo-generic-call/target/
/dubbo-demo/dubbo-demo-interface/target/
/dubbo-demo/dubbo-demo-native/dubbo-demo-native-consumer/target/
/dubbo-demo/dubbo-demo-native/dubbo-demo-native-interface/target/
/dubbo-demo/dubbo-demo-native/dubbo-demo-native-provider/target/
/dubbo-demo/dubbo-demo-native/target/
/dubbo-demo/dubbo-demo-triple/target/
/dubbo-demo/dubbo-demo-xml/dubbo-demo-xml-consumer/target/
/dubbo-demo/dubbo-demo-xml/dubbo-demo-xml-provider/target/
/dubbo-demo/dubbo-demo-xml/target/
/dubbo-demo/target/
/dubbo-dependencies/dubbo-dependencies-zookeeper/target/
/dubbo-dependencies/target/
/dubbo-dependencies-bom/target/
/dubbo-distribution/target/
/dubbo-filter/dubbo-filter-cache/target/
/dubbo-filter/dubbo-filter-validation/target/
/dubbo-filter/target/
/dubbo-metadata/dubbo-metadata-api/target/
/dubbo-metadata/dubbo-metadata-definition-protobuf/target/
/dubbo-metadata/dubbo-metadata-processor/target/
/dubbo-metadata/dubbo-metadata-report-nacos/target/
/dubbo-metadata/dubbo-metadata-report-redis/target/
/dubbo-metadata/dubbo-metadata-report-zookeeper/target/
/dubbo-metadata/target/
/dubbo-metrics/dubbo-metrics-api/target/
/dubbo-metrics/dubbo-metrics-prometheus/target/
/dubbo-metrics/target/
/dubbo-monitor/dubbo-monitor-api/target/
/dubbo-monitor/dubbo-monitor-default/target/
/dubbo-monitor/target/
/dubbo-native/target/
/dubbo-native-plugin/target/
/dubbo-plugin/dubbo-auth/target/
/dubbo-plugin/dubbo-qos/target/
/dubbo-plugin/target/
/dubbo-registry/dubbo-registry-api/target/
/dubbo-registry/dubbo-registry-dns/target/
/dubbo-registry/dubbo-registry-kubernetes/target/
/dubbo-registry/dubbo-registry-multicast/target/
/dubbo-registry/dubbo-registry-multiple/target/
/dubbo-registry/dubbo-registry-nacos/target/
/dubbo-registry/dubbo-registry-xds/target/
/dubbo-registry/dubbo-registry-zookeeper/target/
/dubbo-registry/target/
/dubbo-remoting/dubbo-remoting-api/target/
/dubbo-remoting/dubbo-remoting-http/target/
/dubbo-remoting/dubbo-remoting-netty/target/
/dubbo-remoting/dubbo-remoting-netty4/target/
/dubbo-remoting/dubbo-remoting-zookeeper/target/
/dubbo-remoting/dubbo-remoting-zookeeper-curator5/target/
/dubbo-remoting/target/
/dubbo-rpc/dubbo-rpc-api/target/
/dubbo-rpc/dubbo-rpc-dubbo/target/
/dubbo-rpc/dubbo-rpc-grpc/target/
/dubbo-rpc/dubbo-rpc-injvm/target/
/dubbo-rpc/dubbo-rpc-rest/target/
/dubbo-rpc/dubbo-rpc-triple/target/
/dubbo-rpc/target/
/dubbo-serialization/dubbo-serialization-api/target/
/dubbo-serialization/dubbo-serialization-hessian2/target/
/dubbo-serialization/dubbo-serialization-jdk/target/
/dubbo-serialization/target/
/dubbo-spring-boot/dubbo-spring-boot-actuator/target/
/dubbo-spring-boot/dubbo-spring-boot-autoconfigure/target/
/dubbo-spring-boot/dubbo-spring-boot-compatible/actuator/target/
/dubbo-spring-boot/dubbo-spring-boot-compatible/autoconfigure/target/
/dubbo-spring-boot/dubbo-spring-boot-compatible/target/
/dubbo-spring-boot/dubbo-spring-boot-starter/target/
/dubbo-spring-boot/target/
/dubbo-test/dubbo-test-check/target/
/dubbo-test/dubbo-test-common/target/
/dubbo-test/dubbo-test-spring/target/
/dubbo-test/dubbo-test-spring3.2/target/
/dubbo-test/dubbo-test-spring4.1/target/
/dubbo-test/dubbo-test-spring4.2/target/
/dubbo-test/target/
/target/